* {
    border: 2px solid red;
}

.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.intro, footer {
    background-color: #1F2937;
}

.book-cat {
    margin-left: 200px;

}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8; 
}

header p, footer {
    font-size: 18px;
    color: #E5E7EB;
}

.nav-bar {
    font-size: 24px;
    text-align: end;
    margin-top: -90px;
    margin-right: 200px;
}

a:link{
    color: #F9FAF8;
    text-decoration: none;
}
a:visited {
    color: #F9FAF8;
    text-decoration: none;
}

.facts {
    display: flex;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.quote {
    background-color: #E5E7EB;
}

.quote q {
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style:italic;
}

form, button {
    background-color: #3882F8;
    color: #F9FAF8;
}

.button-one {
    box-sizing: border-box;
    width: 120px;
    height: 40px;
    font-size: 18px;
}