* {
    /*border: 1px solid red;*/
}

.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.intro, footer {
    background-color: #1F2937;
}

.main {
    position: relative;
    top: 115px;
}

.main p {
    word-wrap: break-word;
    position: relative;
    left: 198px;
}

.main-cat {
    position: relative;
    bottom: 120px;
    right: 200px;
}

.book-cat {
    margin-left: 200px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8; 
    padding-left: none;
    margin-right: 111px;
}

.main, .book-cat{
    align-self: flex-start;
}

header p, footer {
    font-size: 22px;
    color: #E5E7EB;
}

footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-bar {
    font-size: 24px;
    text-align: end;
    margin-top: -90px;
    margin-right: 200px;
    display: flex;
    gap: 2rem;
}

a:link{
    color: #F9FAF8;
    text-decoration: none;
}
a:visited {
    color: #F9FAF8;
    text-decoration: none;
}

.facts {
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
}

.figures { 
    display: flex;
    justify-content: center;
}

figcaption {
    font-weight: lighter;
}

.claws, .scratch, .food, .sleep {
    border: 6px solid #6666ff;
    border-radius: 10%;
}

.main-cat, .nav-bar {
    align-self: flex-end;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    position: absolute;
    top: 30px;
    left: 820px;
    
}
.quote {
    background-color: #E5E7EB;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

.quote q {
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style:italic;
}

.author {
    font-size: 22px;
    font-weight: bolder;
}

.form-border {
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
}

form, button {
    background-color: #3882F8;
    color: #F9FAF8;
    text-align: center;
    font-size: 28px;
}

form {
    width: 900px;
    padding: 40px 160px;
    border-radius: 10px;
}

.sign-up {
    border: 2px solid white;
    border-radius: 10%;
    font-size: 18px;
    padding: 10px;
    margin-left: 150px;
    font-weight: bold;

}

.button-one {
    box-sizing: border-box;
    width: 120px;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    margin-right: 517px;
}
